name: 'SockBoom Checkin Action'

on: 
  release:
    types: [published]
  push:
    tags:
    - 'v*'
  schedule:
    - cron: '0 22 * * *'
  watch:
    types: [started]
   
jobs:
  checking:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id  # 自己点的 start
    steps:
    - name: Setup timezone
      uses: zcong1993/setup-timezone@master
      with:
        timezone: Asia/Shanghai          
    - name: Get log
      uses: actions/checkout@master
    - name: login in APi #登录获取cookie
      env:
        EMAIL: ${{ secrets.EMAIL }}
        PASSWORD: ${{ secrets.PASSWORD }}
      run: | 
        echo -en $(curl -c cookie.txt -X POST 'https://sockboom.lol/auth/login' -d email="$EMAIL" -d passwd="$PASSWORD")
    - name: Chick in Api #签到
      run: | 
        echo -n `date +%Y-%m-%d\ %H:%M:%S`\ -\ >> ./run.log 
        echo -e $(curl -b cookie.txt -X POST 'https://sockboom.lol/user/checkin')  >> ./run.log       
        tail run.log #避免日志上传失败丢失日志
    - name: Commit #上传日志到仓库，可以自行修改 name 和 email
      env:
       NAME: merrycodes
       EMAIL: merrycodes@163.com
      run: |
        git config --global user.name "$NAME"
        git config --global user.email "$EMAIL"
        git add .
        git commit -m "update log" -a
    - name: Push log
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.TOKEN }}
